## Part 1

### Q. 1 Answer the following questions. `(2 points)`

#### a. Given the string 'great', use an appropriate index command that returns 'a' from the string. Given s = ‘great’. `(0.5 point)`
Expected output: ‘a’

In [363]:
# Solution
p1_q1_a_input = 'great'
print(p1_q1_a_input[-2])

a

#### b. Write a program to find out the second smallest number in the list given below. `(0.5 point)`
li=[32, 3, 5, 8, 33, 7] & Expected output: 5

In [364]:
# Solution
p1_q1_b_li = [32, 3, 5, 8, 33, 7]
p1_q1_b_li.sort()
print(p1_q1_b_li[1])

5

#### c. Find out the unique values of the list given below. `(0.5 point)`
mylist=[1,1,5,3,3,6,11,11] & Expected output: [1,5,3,6,11]

In [20]:
# Solution
p1_q1_c_li = [1,1,5,3,3,6,11,11]
print(list(set(p1_q1_c_li)))

[1, 3, 5, 6, 11]

#### d. Write a program to print cube root of 216 using appropriate syntax. `(0.5 point)`
Expected output: 6

In [49]:
# Solution
import math

p1_q1_d_input = 216

def cbrt(i):
    result = i ** (1/3)
    
    if math.floor(result) ** 3 == i:
        return math.floor(result)
    
    if (math.floor(result) + 1) ** 3 == i:
        return math.floor(result) + 1
    
    return result

print(cbrt(p1_q1_d_input))

6

### Q. 2 Replace the value 'hello' in the below nested list with 'bye'. `(1 point)`
a = [1, 2, [3, 4, 'hello']] & Expected output: [1, 2, [3, 4, 'bye']]

In [50]:
p1_q2_input = [1, 2, [3, 4, 'hello']]
p1_q2_input[-1][-1] = 'bye'
print(p1_q2_input)

[1, 2, [3, 4, 'bye']]

### Q.3 Given the below dictionary, write a program that returns [‘object0’]. `(1 point)`
dict = {'a':9, 'b':(2,3,1), 'c':['object0','object1','object2']}
Expected output: [‘object0’]

In [77]:
p1_q3_input = {'a':9, 'b':(2,3,1), 'c':['object0','object1','object2']}

# Solution 1
print(p1_q3_input.get('c')[:1])

# Solution 2
def find_object0(input_dict):
    if type(input_dict) is not dict:
        return None
    
    for value in input_dict.values():
        if type(value) is list and len(value) > 0:
            index = value.index('object0')
            return value[index: index + 1]
    
    return None

print('Find "object0" in dict:', find_object0(p1_q3_input))

['object0']
Find "object0" in dict: ['object0']

### Q.4 Write a program to calculate the area of a circle. The program should ask for an appropriate input and print the computed area. `(2 points)`
#### a. Input text: Please enter the radius of the circle.
#### b. If the user enters a value of 5. The output should be: The area of the circle is 78.54
#### c. This program should indicate that the input is invalid if the user enters a character instead of a number as input. For instance if the user enters a value of ‘a’ instead of 5 in the previous example the program should
prompt: Invalid input, please enter a number: _

In [370]:
input_radius = input("Please enter the radius of the circle ")
isvalid = False

while isvalid == False:
    try:
        radius = int(input_radius)
        isvalid = True
    except:
        input_radius = input("Invalid input, please enter a number ")
        isvalid = False

circle_area = (22/7) * radius * radius
print('Area of circle: ', circle_area)

Please enter the radius of the circle 45
Area of circle:  6364.285714285714

### Q.5 Write a program which will take two lists X & Y as input and it will return a list having all the odd numbers present in the two lists. (Note:- common elements can be repeated) `(2 points)`
Input list: X=[1,2,3,4,5] & Y=[5,6,7,8,9]
Expected Output: [1,3,5,5,7,9] or [1,3,5,7,9] both are accepted.

In [22]:
# Solution
x = [1,2,3,4,5]
y = [5,6,7,8,9]

total = x + y

def is_odd(n):
    return n % 2 != 0

way1 = list(filter(is_odd, total))
way2 = [i for i in total if is_odd(i)]
print(way1)

[1, 3, 5, 5, 7, 9]

### Q.6 Write a function that prints the integers from 1 to 15. But for multiples of three print "GREAT" instead of the number, and for the multiples of five print "LEARNING". For numbers which are multiples of both three and five print "GREATLEARNING". `(2 points)`

In [5]:
# Solution
p1_q6_input = 15

for i in range(p1_q6_input):
    number = i+1
    if number % 3 == 0 and number % 5 == 0:
        print("GREATLEARNING")
    elif number % 3 == 0:
        print("GREAT")
    elif number % 5 == 0:
        print("LEARNING")
    else:
        print(number)

1
2
GREAT
4
LEARNING
GREAT
7
8
GREAT
LEARNING
11
GREAT
13
14
GREATLEARNING

## Part 2
### Dataset: Online_sales.csv
### Domain: Retail
### Objective: Analyzing sales data to understand sales trend

### Q.1 Import necessary libraries and read the provided dataset (online_sales.csv) and check the top 5 and random 5 samples of the dataframe. `(0.5 point)`

In [317]:
import pandas as pd
import numpy as np

sales_file_name = 'online_sales.csv'
sdf = pd.read_csv(sales_file_name)

# Check top 5
top5_rows = sdf[:5]
print('Top 5 rows:\n', top5_rows)

# Random 5 samples
random5_rows = sdf.sample(5)
print('\nRandom 5 rows:\n',top5_rows)

Top 5 rows:
   InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

Random 5 rows:
   InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

### Q.2 Check info of the dataframe and write your observations. Comment on data types and shape of the dataset. `(0.5 point)`

In [31]:
# No of rows and colums in dataframe
obs_i = 1
rows, cols = sdf.shape
print(f'Observation {obs_i}')
print(f'We have {rows} rows and {cols} columns in sales dataframe.')

Observation 1
We have 240007 rows and 8 columns in sales dataframe.

In [37]:
# name of columns with datatype in dataframe
obs_i = 2
print(f'Observation {obs_i}\n')
print('We have below columns in the dataframe:')
print(sdf.dtypes)

Observation 2

We have below columns in the dataframe:
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [46]:
# Valid range of rows
obs_i = 3
print(f'Observation {obs_i}\n')
print('Below is the valid range of rows index:')
print(sdf.index)

Observation 3

Below is the valid range of rows index:
RangeIndex(start=0, stop=240007, step=1)

In [52]:
# Total entries/elements in file
obs_i = 4
print(f'Observation {obs_i}\n')
print('Below is count of total entries in dataframe:')
print(sdf.size)

Observation 4

Below is count of total entries in dataframe:
1920056

In [64]:
# Memory usage by each cols
obs_i = 5
print(f'Observation {obs_i}\n')
print('Below is list of memory used by each columns:')
print(sdf.memory_usage(index=False, deep=True))

Observation 4

Below is list of memory used by each columns:
InvoiceNo      15124791
StockCode      14905173
Description    19990272
Quantity        1920056
InvoiceDate    16740946
UnitPrice       1920056
CustomerID      1920056
Country        16898928
dtype: int64

In [68]:
# Dataframe information
obs_i = 6
print(f'Observation {obs_i}\n')
print('General Information about data file:')
sdf.info(verbose=False)

Observation 5

General Information about data file:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240007 entries, 0 to 240006
Columns: 8 entries, InvoiceNo to Country
dtypes: float64(2), int64(1), object(5)
memory usage: 14.6+ MB

### Q.3 Check for null values and report the percentage of null values of each column. And drop the rows having null values in it. `(1 point)`

In [106]:
# Null values in each column
nonnull_cols = sdf.notnull().sum()
null_cols = sdf.isnull().sum()
print(null_cols)

# Percentage of null values in each cols
null_cols_percentage =  null_cols * 100 / len(sdf)
print(null_cols_percentage)

# Drop the rows that has null values
nn_sdf = sdf.dropna()
print('Total rows', rows)
print('Dropped rows (null values)', rows - nn_sdf.shape[0])
print('Remaining rows', nn_sdf.shape[0])

InvoiceNo          0
StockCode          0
Description      901
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     67225
Country            0
dtype: int64
InvoiceNo       0.000000
StockCode       0.000000
Description     0.375406
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     28.009600
Country         0.000000
dtype: float64
Total rows 240007
Dropped rows (null values) 67225
Remaining rows 172782

### Q.4 Check the statistical summary of the dataset. (Use inbuilt functions) `(0.5 point)`

In [111]:
# Statistical summary for the columns have object dtype
print(sdf.describe(include=['object']))

# Statistical summary for each column 
sdf.describe(include='all')

       InvoiceNo StockCode                         Description    InvoiceDate  \
count     240007    240007                              239106         240007
unique     12468      3645                                3617          11240
top       537434    85123A  WHITE HANGING HEART T-LIGHT HOLDER  12/6/10 16:57
freq         675      1294                                1319            675

               Country
count           240007
unique              38
top     United Kingdom
freq            220279

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,240007,240007,239106,240007.000000,240007,240007.000000,172782.000000,240007
unique,12468,3645,3617,NaN,11240,NaN,NaN,38
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,12/6/10 16:57,NaN,NaN,United Kingdom
freq,675,1294,1319,NaN,675,NaN,NaN,220279
mean,NaN,NaN,NaN,9.277646,NaN,5.124265,15274.819941,NaN
std,NaN,NaN,NaN,223.061608,NaN,119.992279,1725.093177,NaN
min,NaN,NaN,NaN,-74215.000000,NaN,0.000000,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,13842.000000,NaN
50%,NaN,NaN,NaN,3.000000,NaN,2.100000,15132.000000,NaN
75%,NaN,NaN,NaN,10.000000,NaN,4.210000,16814.000000,NaN
max,NaN,NaN,NaN,74215.000000,NaN,38970.000000,18287.000000,NaN

### Q.5 Drop the instances having quantity less than zero. `(1 point)` (Note:- refer to the ‘Quantity’ feature)

In [121]:
print('Total rows before:', sdf.shape[0])
sdf_invalid_quantity = sdf[sdf['Quantity'] <= 0]
print('Total invalid rows', sdf_invalid_quantity.shape[0])
sdf.drop(index=sdf_invalid_quantity.index, inplace=True)
print('Total rows after:', sdf.shape[0])

Total rows before: 234920
Total invalid rows 0
Total rows after: 234920

### Q.6 Check unique values of the country and report the name of the country that has the highest number of instances/rows. `(0.5 point)`

In [267]:
country_label = 'Country'
total_countries = sdf.nunique(axis=0)[country_label]
print(f'Total {total_countries} countries are stored in file under "{country_label}" column.')

# List of countries
# print((sdf[country_label].unique()))
list_countries = sdf[country_label].value_counts(ascending=False)
print(list_countries)

# Country that has the highest number of instance/rows
print('Highest rows has', list_countries.index[0])

Total 38 countries are stored in file under "Country" column.
United Kingdom          220279
Germany                   4208
France                    3642
EIRE                      3034
Spain                     1142
Netherlands               1142
Belgium                    933
Switzerland                708
Australia                  642
Portugal                   624
Norway                     378
Channel Islands            368
Cyprus                     353
Finland                    312
Italy                      309
Japan                      251
Hong Kong                  200
Sweden                     200
Poland                     187
Denmark                    184
Austria                    127
Singapore                  118
Iceland                    102
Greece                      85
Unspecified                 83
Canada                      68
Malta                       47
Lebanon                     45
Israel                      38
Lithuania                   35
European Community          32
Brazil                      32
United Arab Emirates        30
USA                         22
Bahrain                     19
Czech Republic              17
Saudi Arabia                10
Unit                         1
Name: Country, dtype: int64
Highest rows has United Kingdom

### Q.7 Create a new column with the name as ‘sales’ having total sales. The total sales is defined as Quantity * UnitPrice. `(1 point)`

In [262]:
new_sales_col = 'Sales'
quantity_label = 'Quantity'
unitprice_label = 'UnitPrice'
sdf[new_sales_col] = sdf[quantity_label] * sdf[unitprice_label]
sdf.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales
count,240007,240007,239106,240007.000000,240007,240007.000000,172782.000000,240007,240007.000000
unique,12468,3645,3617,NaN,11240,NaN,NaN,38,NaN
top,537434,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,12/6/10 16:57,NaN,NaN,United Kingdom,NaN
freq,675,1294,1319,NaN,675,NaN,NaN,220279,NaN
mean,NaN,NaN,NaN,9.277646,NaN,5.124265,15274.819941,NaN,17.812580
std,NaN,NaN,NaN,223.061608,NaN,119.992279,1725.093177,NaN,273.617543
min,NaN,NaN,NaN,-74215.000000,NaN,0.000000,12346.000000,NaN,-77183.600000
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,13842.000000,NaN,3.750000
50%,NaN,NaN,NaN,3.000000,NaN,2.100000,15132.000000,NaN,9.900000
75%,NaN,NaN,NaN,10.000000,NaN,4.210000,16814.000000,NaN,17.570000
max,NaN,NaN,NaN,74215.000000,NaN,38970.000000,18287.000000,NaN,77183.600000

### Q.8 Report the top 5 countries in terms of sales. `(2 points)`
#### a. Consider the size of sales.
#### b. Consider the mean value of sales.

In [302]:
sales_sorted_sdf = sdf.sort_values(by =new_sales_col, ascending=False)
top5_countries_sales = sales_sorted_sdf.drop_duplicates(subset=[country_label])[:5][country_label]

print(top5_countries_sales.values)

array(['United Kingdom', 'Japan', 'Hong Kong', 'Singapore', 'EIRE'],
      dtype=object)

### Q.9 Report the top 5 products which bring the highest sales. Use StockCode for product information. `(1 point)`

In [305]:
top5_product = sales_sorted_sdf[:5]
print(top5_product['StockCode'])

61619         23166
222680        22502
15017     AMAZONFEE
173382         POST
52711         21108
Name: StockCode, dtype: object

### Q.10 Convert the ‘InvoiceDate’ into a date format and report the month on which the maximum sales occur? `(2 points)`

In [362]:
invoicedate_label = 'InvoiceDate'
# data types
# print(sales_sorted_sdf.convert_dtypes().dtypes)

# Convert InvoiceDate dtype from object to datetime format
sales_sorted_sdf[invoicedate_label]= pd.to_datetime(sales_sorted_sdf[invoicedate_label])

highest_sales_product = sales_sorted_sdf.head(1)
highest_sales_product_date = highest_sales_product[invoicedate_label].iloc[0]

print('Highest sale product:', highest_sales_product)
print('Month on which the maximum sales occur:', highest_sales_product_date.month_name())

Highest sale product:       InvoiceNo StockCode                     Description  Quantity  \
61619    541431     23166  MEDIUM CERAMIC TOP STORAGE JAR     74215

              InvoiceDate  UnitPrice  CustomerID         Country    Sales
61619 2011-01-18 10:01:00       1.04     12346.0  United Kingdom  77183.6
Month on which the maximum sales occur: January