# Table of Content

- List
- Tuple
- Tuple Vs List
- Why do we use tuple?
- Dictionary
- Set
- List Comprehensions 
- Conditional statements
- Looping statements
- Function

## List

In [ ]:
# List declaration - 1
List_1  = [1, "a#" , "Python" , 2-2] # syntax
print("List 1:",List_1) 

# List declaration - 2
a = "Variable"

string1 = "This is a string"

operation = int(18-12/3)    # type casting

List_2  = [1, a , string1 , int(operation/4)]   

print("\nList 2:",List_2)

List 1: [1, 'a#', 'Python', 0]

List 2: [1, 'Variable', 'This is a string', 3]

### List methods

### Below examples explain append , extend, pop, insert, count, etc.

In [ ]:
# Declaring a list 
List1  = [1, "a#" , "python" , 2-2] 
print(List1) 
  
# add 6 to the above list 
List1.append(6) 
print(List1)

List1.extend([2,"python 3.8 current version", 4])
print(List1)
  
#pop method deletes the last element
List1.pop() 
print(List1)

#insert method
List1.insert(1,3)
print(List1)

# count() method counts the number of time specified element occurs in list
counts = List1.count("python")
print(counts)

#another way to print list elements
for i in range(len(List1)):    
    print(List1[i])

[1, 'a#', 'python', 0]
[1, 'a#', 'python', 0, 6]
[1, 'a#', 'python', 0, 6, 2, 'python 3.8 current version', 4]
[1, 'a#', 'python', 0, 6, 2, 'python 3.8 current version']
[1, 3, 'a#', 'python', 0, 6, 2, 'python 3.8 current version']
1
1
3
a#
python
0
6
2
python 3.8 current version

### List unpacking

In [ ]:
learner = ['python', 'Java', 'Cloud']
tech_1, tech_2, tech_3 = learner
print(tech_1)
print(tech_2)
print(tech_3)

python
Java
Cloud

## Tuple

In [ ]:
# Create a new tuple 
new_tuple = (1, "#$a", "Python", 1+2) 
print(new_tuple)
print("\n",new_tuple[1])

(1, '#$a', 'Python', 3)

 #$a

In [ ]:
python = ('p','y','t','h','o','n')
print(type(python))

<class 'tuple'>

Tuple cannot be changes. The below code will give error, soplease don't be alarmed :)

In [ ]:
new_tuple[1] = 0

NameError: name 'new_tuple' is not defined

### Tuple methods (index, count)

In [ ]:
new_tuple = (1, "#$a", "Python")
print(new_tuple.index("Python"))

2

In [ ]:
new_tuple = (1, "#$a", "Python", 1 , 1, 3.5, 1)
print(new_tuple.count(1))

4

### tuple unpacking is also possible

In [ ]:
new_tuple = (1, "#$a", "Python")
a, b, c = new_tuple
print(a)
print(b)
print(c)

1
#$a
Python

## Tuple vs List

In [ ]:
new_tuple = (1,2,3,4,5)
new_list = [1,2,3,4,5]

#new number appended onto tuple, it throws error as below
new_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

## Tuples are immutable, use case?

Faster than list

Time taken by tuple

In [ ]:
import timeit
timeit.timeit('num_list=(1,2,3,4,5,6,7,8,9)', number=100000)

0.0023130999998102197

Time taken by list

In [ ]:
import timeit
timeit.timeit('num_list=[1,2,3,4,5,6,7,8,9]', number=100000)

0.009613400000489492

## Dictionary

In [ ]:
dictionary = {'One': 1, '2': 2, 'B': 3.5}

#looping over dictionary  
for key, value in enumerate(dictionary): 
    print(key, value , dictionary[value]) 

# whether key present? 
print('\nB' in dictionary) 
  
# delete key-value pair 
del dictionary['2']
print(dictionary)
  
# whether deleted? 
print("\n2" in dictionary)

0 One 1
1 2 2
2 B 3.5
False
{'One': 1, 'B': 3.5}
False

In [ ]:
my_dict = {'name': 'Jill', 'age': 26}
print(my_dict['name'])
print(my_dict.get('age'))

Jill
26

### Dictionary methods

In [ ]:
# Error is thrown when key does not exists
print(my_dict.get('address'))
print(my_dict['address'])

None

KeyError: 'address'

In [ ]:
# Removing elements from a dictionary
num_squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# remove a particular item, returns its value
print(num_squares.pop(4))
print(num_squares)

# remove an arbitrary item, return (key,value)
print(num_squares.popitem())
print(num_squares)

# remove all items
num_squares.clear()
print(num_squares)

# delete the dictionary itself
del num_squares

# Throws Error that it is not defined
print(num_squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}

NameError: name 'num_squares' is not defined

## Set

In [ ]:
# create a set
Set = set([1, 'A', 3])
Set

{1, 3, 'A'}

In [ ]:
# Creating two sets 
set1 = set() 
set2 = set() 
   
# Adding elements to set1 
for i in range(1, 6,2): 
    set1.add(i) 

# Adding elements to set2 
for i in range(13,19,2): 
    set2.add(i) 

print("\nSet1 = ", set1) 
print("\nSet2 = ", set2)

Set1 =  {1, 3, 5}

Set2 =  {17, 13, 15}

### Normal vs Frozen Set

In [ ]:
# Same as {"a", "b","c"} 
normal_set = set(["a", "b","c"]) 
  
print("Normal Set") 
print(normal_set) 
  
# A frozen set 
frozen_set = frozenset(["e", "f", "g"]) 
  
print("\nFrozen Set") 
print(frozen_set)

Normal Set
{'a', 'c', 'b'}

Frozen Set
frozenset({'g', 'e', 'f'})

In [ ]:
#  Check: add element to a frozen set. The below code will give error, soplease don't be alarmed :)
frozen_set.add("h")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# Add elements to set 
new_set = {"Python", "data"} 
print(new_set)

new_set.add("science") 
  
# Adding elements to the set using iterator 
for i in range(1, 6):  
    new_set.add(i)  
  
print("\nSet after adding element:", end = " ") 
print(new_set)

{'data', 'Python'}

Set after adding element: {'data', 2, 1, 3, 4, 'Python', 'science', 5}

### Set methods

In [ ]:
# Union of sets 
  
ml = {"Linear regression", "KNN"} 
dl = {"Ensemble", "NLP"} 
language = {"Python", "R"} 
data_science = new_set.union(dl)
print(data_science)

{'data', 2, 1, 3, 4, 'Python', 'science', 5, 'Ensemble', 'NLP'}

In [ ]:
# Intersection of sets 
  
set1 = set() 
set2 = set() 
  
for i in range(5): 
    set1.add(i) 
for i in range(3,9): 
    set2.add(i) 

set3 = set1.intersection(set2) 
  
print("Intersection using intersection() function") 
print(set3) 
  
# Intersection using "&" operator 
set3 = set1 & set2 
  
print("\nIntersection using '&' operator") 
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [ ]:
# difference of two sets 
  
set1 = set() 
set2 = set() 
  
for i in range(5): 
    set1.add(i) 
for i in range(3,9): 
    set2.add(i) 
    

print("Set 1:", set1)
print("Set 2:", set2)
  
# Difference of two sets 
# using difference() function 
set3 = set1.difference(set2) 
  
print("Two sets using difference() function") 
print(set3) 
  
# Difference of two sets 
# using '-' operator 
set3 = set1 - set2 
  
print("Two sets using '-' operator") 
print(set3)

Set 1: {0, 1, 2, 3, 4}
Set 2: {3, 4, 5, 6, 7, 8}
Two sets using difference() function
{0, 1, 2}
Two sets using '-' operator
{0, 1, 2}

In [ ]:
# clearing a set 
  
new_set = {1,2,3,4,5,6} 
  
print("Initial set") 
print(new_set) 
  
new_set.clear() # clears all elements 
print(new_set)

Initial set
{1, 2, 3, 4, 5, 6}
set()

## Comprehensions in Python

### List Comprehension

In [ ]:
list_1 = [1, 2, 3, 4, 4, 5, 6, 7, 7]
list_output = []
  
for value in list_1:
    if value % 2 == 0:
        list_output.append(value)
  
print("result :", list_output)

result : [2, 4, 4, 6]

In [ ]:
list_1 = [1, 2, 3, 4, 4, 5, 6, 7, 7]
  
comprehension_list = [value for value in list_1 if value % 2 == 0]
  
print("result :", comprehension_list)

result : [2, 4, 4, 6]

### Dictionary Comprehension

In [ ]:
list_1 = [1,2,3,4,5,6,7]
  
comprehension_dict = {value:value ** 3 for value in list_1 if value % 2 != 0}
  
print("result :", comprehension_dict)

result : {1: 1, 3: 27, 5: 125, 7: 343}

### Set Comprehension

In [ ]:
list_1 = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]
  
comprehension_set = {value for value in list_1 if value % 2 == 0}
  
print("result :", comprehension_set)

result : {2, 4, 6}

## Conditional Statements (if, if else, if elif else)

### If statement is execute only if its True

In [ ]:
if 'java' in ['Cloud', 'C++', 'python']:
    print('Hello')
    print('Evryone')
    print('**********')
    print('Bye')
print('Above if statement is False')

Above if statement is False

### Indentation is very impotant in Python

In [ ]:
if 'Python' in ['Java', 'C++', 'Cloud', 'Python']:       
    print('Inside outer if statement')     

    if 10 > 20:                          
        print('greater than condition true')       

    print('Hello everyone')  

    if 10 < 20:                           
        print('less than condition true')       

    print('Bye')      
print('End statement')

Inside outer if statement
Hello everyone
less than condition true
Bye
End statement

### if, else statements

In [ ]:
num = 20

if num < 50:
    print('(if block)')
    print('small number')
else:
    print('(else block)')
    print('large number')

(if block)
small number

### if, elif, else statements

In [ ]:
name = 'Jack'
if name == 'Jill':
    print('Hello Jill')
elif name == 'Xylo':
    print('Hello Xylo')
elif name == 'Jack':
    print('Hello Jack')
elif name == 'Arvind':
    print('Hello Arvind')
else:
    print("Pardon me, who you are!")

Hello Jack

### One liner if, elif, else statements

In [ ]:
num = 2
if num == 1: print('my'); print('python'); print('version')
elif num == 2: print('python-version'); print('3.8')
else: print('version'); print('mismatch')

python-version
3.8

### Conditional Expressions (Python's ternary operator)

#### conditional expression is shorter and arguably more readable

In [ ]:
age = 12
marry = 'minor' if age < 21 else 'adult'
print(marry)

'yes' if ('python' in ['current', 'version', '3.8']) else 'no'

minor

'no'

## Loops in Python

### While loop

In [ ]:
#input from user
input_num = int(input("Please enter number:"))
sum = 0
num = 1

while num <= input_num:
    sum = sum + num
    num+=1   

print(f"sum is: {sum}")

Please enter number:3
sum is: 6

In [ ]:
count = 0

while count < 3:
    print("Inside while loop")
    count = count + 1
else:
    print("Inside else")

Inside while loop
Inside while loop
Inside while loop
Inside else

### For loop

In [ ]:
languages = ['R', 'Python',  'Scala', 'Java', 'C++']

for index in range(len(languages)):
    print(f' {languages[index]} ')

 R
 Python
 Scala
 Java
 C++

In [ ]:
print("------list-----")
list1 = ["python", "for", "greatlearners"]
for value in list1:
    print(value)

print("\n ------tuple------")
tuple1 = ("python", "for", "greatlearners")
for value in tuple1:
    print(value)

print("\n------dictionary-----")
dictionary1 = dict()
dictionary1['key1'] = 'value1'
dictionary1['key2'] = 'value2'
for value in dictionary1:
    print("% s % s" % (value, dictionary1[value]))

------list-----
python
for
greatlearners

 ------tuple------
python
for
greatlearners

------dictionary-----
key1 value1
key2 value2

### For loop is faster than while loop

In [ ]:
import timeit

def for_execution():
    for number in range(1000) :  
        sum = 3 + 4
        
timeit.timeit(for_execution)

25.817050999999992

In [ ]:
def while_execution():
    count = 0
    while count<1000:
        sum = 3 + 4
        count+=1
        
timeit.timeit(while_execution)

97.3201004

## Python Functions

### Built- in functions

| Function | Description |
| --- | --- |
| abs() | Returns the absolute value of a number |
| all() | Returns True if all items in an iterable object are true |
| any() | Returns True if any item in an iterable object is true |
| ascii() | Returns a readable version of an object. Replaces none-ascii characters with escape character |
| bin() | Returns the binary version of a number |
| bool() | Returns the boolean value of the specified object |
| bytearray() | Returns an array of bytes |
| bytes() | Returns a bytes object |
| callable() | Returns True if the specified object is callable, otherwise False |
| chr() | Returns a character from the specified Unicode code |
| classmethod() | Converts a method into a class method |
| compile() | Returns the specified source as an object, ready to be executed |
| complex() | Returns a complex number |
| delattr() | Deletes the specified attribute (property or method) from the specified object |
| dict() | Returns a dictionary (Array) |
| dir() | Returns a list of the specified object's properties and methods |
| divmod() | Returns the quotient and the remainder when argument1 is divided by argument2 |
| enumerate() | Takes a collection (e.g. a tuple) and returns it as an enumerate object|
| eval() | Evaluates and executes an expression |
| exec() | Executes the specified code (or object) |
| filter() | Use a filter function to exclude items in an iterable object |

### User-defined Funtions

### Function without arguments

In [ ]:
def user_defined():
    print("Welcome to GreatLearning")
         
#calling function
user_defined()

Welcome to GreatLearning

### Function with arguments

In [ ]:
def finding_even_number(num):
    if (num % 2 == 0):
        print("Given number is even")
    else:
        print("Given number is odd")
        
finding_even_number(2)
finding_even_number(3)

Given number is even
Given number is odd

### Function with keyword arguments

In [ ]:
def student_name(firstname, lastname):
    print(firstname, lastname)

# Keyword arguments
student_name(firstname='Learner1', lastname='Greatlearning')
student_name(lastname='Learner2', firstname='Greatlearning')

Learner1 Greatlearning
Greatlearning Learner2

### Function with variable length keyword arguments

In [ ]:
def variable_length_function(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))

variable_length_function(first='Happy', middle='learning', last='GreatLearning')

first == Happy
middle == learning
last == GreatLearning

### Happy Learning :)