# Agenda

- Data structures in Python
- Lists
- Tuples
- Dictionaries
- Sets
- Comprehensionin Python

# 1. Data Structures in Python

- Data Structure is a way to store, manage and organize data in order to access it effciently
- Python has implicit support for Data structures 
- Built-in Data Structures are :
  - Lists
  - Tuples
  - Dictionaries
  - Sets
- These are specific to Python
- Python helps to understand these Data structure in much simpler way as compared to other programming languages

# 2. Lists in Python

- Most widely used data structure
- Lists are used to store an ordered collection of items
- Lists are represented as  ['a',1,100.0,"a string",]
- Lists are flexible as it can take different data types

## 2.1 List different examples

#### List of numbers

In [1]:
mylist0 = [1,2,3]
print(mylist0)
print(type(mylist0))

### length of list
print(len(mylist0))

[1, 2, 3]
<class 'list'>
3

#### List of strings

In [ ]:
mylist1 = ['a','b','c']
print(mylist1)
print(type(mylist1))

['a', 'b', 'c']
<class 'list'>

#### List of strings, integers and floats

In [2]:
mylist2 = [100,199.99,'str1','C','112s']
print(mylist2)
print(type(mylist2))

[100, 199.99, 'str1', 'C', '112s']
<class 'list'>

#### We can have a list within a list (nested lists)

In [4]:
mylist3 = ['A String',100.9,200,[9,10],['a','b'], [1,2,3],['h','i','j']]
print(f"mylist3 has the values: {mylist3} ")
print(f"Length of mylist3: {len(mylist3)} ")
print(f"Type of mylist3: {type(mylist3)} ")

mylist3 has the values: ['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]
Length of mylist3: 7
Type of mylist3: <class 'list'>

In [7]:
### LIST IS MUTABLE
### if we want to change the first item in list mylist3 from "A String" to 1999 
mylist3[0] = 1999

In [9]:
mylist3

[1999, 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

#### We can also have a tuple within a list

In [ ]:
mylist4 = ['A String',100.9,200,(90,100),('x','z'), [1,2,3],['h','i','j']]
print(f"mylist4 has the values: {mylist4} ")
print(f"Length of mylist4: {len(mylist4)} ")
print(f"Type of mylist4: {type(mylist4)} ")

print(len(mylist4))

mylist4 has the values: ['A String', 100.9, 200, (90, 100), ('x', 'z'), [1, 2, 3], ['h', 'i', 'j']]
Length of mylist4: 7
Type of mylist4: <class 'list'>
7

## 2.2 List indexing and Slicing 
- List indexing works similar to that of string indexing. it starts with 0
- Can b sliced like that of a string

In [11]:
print(mylist3)
print(len(mylist3))
### indexes 0,1,2,3,4,5,6

[1999, 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]
7

In [13]:
### extract 1st item of list mylist3
mylist3[0]

1999

In [15]:
### extract 1st to 3r item (including both)

mylist3[0:3]

[1999, 100.9, 200]

In [17]:
### extract 3rd item to the end of the list
mylist3[3:]

[[9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [19]:
### reverse index in a list
### extract the last element of list mylist33mylist4
mylist3[-1]

['h', 'i', 'j']

In [ ]:
### how to find the index of a particular item in a list

In [20]:
mylist3.index(1999)

0

In [ ]:
### To grab 200 from mylist3
print(mylist3[2])

200

#### Here using slice notation (start:stop,step)

In [ ]:
### to grab 200,[9,10]
print(mylist3[2:4])

[200, [9, 10]]

In [ ]:
### to grab the value 9 in the nested list [9,10]
print(mylist3)
print(mylist3[3][0])
print(mylist3[3][1])

['A String', 100.9, 200, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]
9
10

In [30]:
### extract 200,10 from mylist3
mylist3_temp = [mylist3[2],mylist3[3][1]]
print(mylist3_temp)

['STRING2000', 10]

In [32]:
mylist3

[1999, 100.9, 'STRING2000', [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [37]:
### to extract the "9" from the nested list of [9,10] of the list mylist3
mylist3[3]

[9, 10]

In [39]:
mylist3[3][0]

9

In [42]:
mylist30 = [1999.99, 100.9, 'STRING2000',2999, [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [44]:
### exttact 2999 and 9 from mylist 30

mylist30[3],mylist30[4][0]

(2999, 9)

## 2.4 Mutability in Lists
- Lists are mutable
-  The elements of the list can be modified, individual elements can be replaced, and the order of elements can be changed even after the list has been created

In [21]:
## update value in index 2 (2000) to "STRING2000"
mylist3[2] = "STRING2000"
print(mylist3)

### LISTS ARE MUTABLE

[1999, 100.9, 'STRING2000', [9, 10], ['a', 'b'], [1, 2, 3], ['h', 'i', 'j']]

In [ ]:
# update index 4 to different elements
mylist3[4] = ['x', 'y']
print(mylist3)

['A String', 100.9, 'STRING2000', [9, 10], ['x', 'y'], [1, 2, 3], ['h', 'i', 'j']]

## 2.5 List Unpacking
- To assign the first, second, and third elements of the list to variables, you may assign individual elements to variables like this:

In [23]:
learner = ['python', 'Java', 'Cloud']

In [25]:
tech_1 = learner[0]
tech_2 = learner[1]
tech_3 = learner[2]
print(tech_1,tech_2,tech_3)

python Java Cloud

- However, Python provides a better way to do this. Itâ€™s called sequence unpacking.
- Basically, we can assign elements of a list (and also a tuple) to multiple variables

In [29]:
tech_1, tech_2, tech_3 = learner

In [27]:
print(tech_1)
print(tech_2)
print(tech_3)

python
Java
Cloud

## 2.6 Built in methods in list
- To know all the built-in methods in a list use tab key after the list name
- mylist12."hit tab key"
- List methods are :
  - append()
  - extend()
  - insert()
  - remove()
  - count()
  - sort()
  - reverse() and many more

In [ ]:
### how to get the list of all available built in methods for a list

mylist30.

###### Consider a list for performing all above methods

In [55]:
mystring =  "abc"
mystring.upper()

'ABC'

In [56]:
mystring

'abc'

In [58]:
mylist12 = [1,2,3,4,5,6,9]
print(mylist12)

[1, 2, 3, 4, 5, 6, 9]

### append() method
- The append() method appends an element to the end of the list

In [49]:
### append an item to the list
mylist12.append(9289)
print(mylist12)

[1, 2, 3, 4, 5, 6, 9, 9289]

In [50]:
mylist12

[1, 2, 3, 4, 5, 6, 9, 9289]

### extend() method
- The extend() method adds the specified list elements (or any iterable) to the end of the current list

In [ ]:
mylist13.extend(['c','f'])
mylist13

['d', 'd', 'f', 'a', 'e', 'd', 'c', 'b', 'a', 'c', 'f']

### insert() method
- The insert() method inserts the specified value at the specified position

In [59]:
mylist12

[1, 2, 3, 4, 5, 6, 9]

In [61]:
### insert into a list
mylist12.insert(2,'newstr')
print(mylist12)

[1, 2, 'newstr', 3, 4, 5, 6, 9]

### remove() method
- The remove() method removes the first occurrence of the element with the specified value

In [63]:
mylist12.remove('newstr')

In [65]:
mylist12 = [1, 2, 3, 4,500, 5, 6, 9,500]

### count() method
- The count() method returns the number of elements with the specified value

In [66]:
mylist12.count(500)

2

In [ ]:
mylist13.count('d')

3

### sort() method
- The sort() method sorts the list ascending by default

In [67]:
mylist12.sort()

In [68]:
mylist12

[1, 2, 3, 4, 5, 6, 9, 500, 500]

### Sorting w.r.t specified function criteria
- We can also make a function to decide the sorting criteria(s)
- Syntax is : list.sort(reverse=True|False, key=myFunc)

In [ ]:
def len_function(q):
  return len(q)

mylist14 = ['aaaa', 'aa', 'a', 'c', 'dd', 'f']
mylist14.sort(key = len_function)
mylist14

['a', 'c', 'f', 'aa', 'dd', 'aaaa']

---

### reverse() method
- The reverse() method reverses the sorting order of the elements

In [ ]:
### reverse
mylist13 = ['a','b','c','d','e','a','d','d']
print(mylist13)
mylist13.reverse()
print(mylist13)

['a', 'b', 'c', 'd', 'e', 'a', 'd', 'd']
['d', 'd', 'a', 'e', 'd', 'c', 'b', 'a']

# 3. Tuples in Python
- Python object
- Similar to lists - i.e - it can hold any data type
- Tuples are immutable like strings
- Tuples are represented by ()

##  Difference between List and Tuple

- LISTS                                                     TUPLES
-  MUTABLE                                                  IMMUTABLE
-  []                                                        () 
-  ITEMS need not be related                                Better in explaining relationships

In [ ]:
### longitude and lattitude
### x y coordinates

## 3.1 Tuple Examples

In [69]:
### create a tuple using numbers
mytup0 = (1,2,3)
print(mytup0)
print(type(mytup0))

(1, 2, 3)
<class 'tuple'>

In [ ]:
### create a tuple using strings
mytup1 = ('a','b','c')
print(mytup1)

('a', 'b', 'c')

In [71]:
### create a tuple using mixed data types
mytup2 = ('a', 'A','STRNG',1299, 1200.99)
print(mytup2)

('a', 'A', 'STRNG', 1299, 1200.99)

In [72]:
## 
mytup2 = ('a', 'A',1299,1299, 1200.99)

In [75]:
### create tuple within a tuple
mytup3=((1,2,3),199,'a',200.88,'string',('a','b'))
print(mytup3)

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'))

In [76]:
### create list  within a tuple
mytup4=((1,2,3),199,'a',200.88,'string',('a','b'),[199,299],["IAM A LIST",'Y'])
print(mytup4)

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'])

In [ ]:
### length of a tuple
len(mytup4)

8

In [77]:
mytup4

((1, 2, 3),
 199,
 'a',
 200.88,
 'string',
 ('a', 'b'),
 [199, 299],
 ['IAM A LIST', 'Y'])

In [ ]:
mytup4[6]

[199, 299, 'pop']

## 3.2 Tuple indexing and slicing

In [78]:
print(mytup4)

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'])

In [79]:
## grab the first and last element in a tuple
print(mytup4[0])
print(mytup4[-1])
print(mytup4[7])

(1, 2, 3)
['IAM A LIST', 'Y']
['IAM A LIST', 'Y']

In [ ]:
### grab a specific element in a list within a tuple
print(mytup4[6][0])

199

In [80]:
### get all the elements from index 2 
print(mytup4[2:])

('a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'])

In [ ]:
### get all the elements from indeex 0 till index 5
print(mytup4)
print(mytup4[0:6])

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299, 'pop'], [1999, 'IAM A LIST', 'Y'])
((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'))

## 3.3 Immutability in Tuples

In [82]:
### TUPLE IMMUTABILITY CHECK
mytup4[6]

[199, 299]

In [83]:
mytup4[6] = ['o','p']

TypeError: 'tuple' object does not support item assignment

### Since tuples are immutable,changing the individual items in tuple is not possible. but changing whole tuple is

In [86]:
### to extract 199 from list [199,299] in index6
mytup4[6]

mytup4[6][0]

199

In [87]:
### change 199 to 899 ?  is it possible 
mytup4[6][0] = 899
print(mytup4)

((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [899, 299], ['IAM A LIST', 'Y'])

In [ ]:
### this is possible
my_tuple7= ((100, 200, 300),1990, 'ac', 2009.88,('x', 'y'),['IAM A LIST', 'Y'])
my_tuple7

((100, 200, 300), 1990, 'ac', 2009.88, ('x', 'y'), ['IAM A LIST', 'Y'])

In [ ]:
### this is also possible - by converting a tuple to list, add a value and then reconveert back to tuple

my_list_test=list(my_tuple7)
my_list_test.append(10000)
print(type(my_list_test))
print(my_list_test)
my_list_test_tuple = tuple(my_list_test)  ### convert into a tuple
print(type(my_list_test_tuple))
print(my_list_test_tuple)

<class 'list'>
[(100, 200, 300), 1990, 'ac', 2009.88, ('x', 'y'), ['IAM A LIST', 'Y'], 10000]
<class 'tuple'>
((100, 200, 300), 1990, 'ac', 2009.88, ('x', 'y'), ['IAM A LIST', 'Y'], 10000)

## 3.4 Tuple Unpacking
- Similar to list, tuple unpacking is also possible

In [ ]:
learner = ['python', 'Java', 'Cloud']
(tech_1, tech_2, tech_3) = learner

In [ ]:
print(tech_1)
print(tech_2)
print(tech_3)

python
Java
Cloud

## 3.5 Build in methods in Tuple
- Python has two built-in methods that you can use on tuples
  - count()
  - index()

### count() method
- The count() method returns the number of times a specified value appears in the tuple

In [88]:
mytup4

((1, 2, 3),
 199,
 'a',
 200.88,
 'string',
 ('a', 'b'),
 [899, 299],
 ['IAM A LIST', 'Y'])

In [89]:
mytup4.count('a')

1

In [ ]:
mytup5 = ('!', '#', '@', '@', '_', '!', '!')
mytup5

('!', '#', '@', '@', '_', '!', '!')

In [ ]:
mytup5.count('!')

3

In [94]:
my_tuple7 = ((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), [199, 299], ['IAM A LIST', 'Y'],[199,299])
my_tuple7.count([199,299])

2

In [100]:
my_tuple8 = ((1, 2, 3), 199, 'a', 200.88, 'string', ('a', 'b'), (199, 299), ['IAM A LIST', 'Y'],(199,299))
my_tuple8.count((199,299))

2

In [102]:
###  storing = daily salary at a week level

week_tup = (100,120,120,100,120,60)
week_tup

(100, 120, 120, 100, 120, 60)

### index() method
- The index() method finds the first occurrence of the specified value
- The index() method raises an exception if the value is not found

In [93]:
my_tuple7.index([199,299])

6

In [ ]:
mytup5.index('*')

ValueError: ignored

In [ ]:
my_tuple7.index([199,299])

6

## 3.6 Tuple to List conversion 
### FORCE TYPE CONVERSION
- Creates a list off of the tuple

In [109]:
list(my_tuple7)

[(1, 2, 3),
 199,
 'a',
 200.88,
 'string',
 ('a', 'b'),
 [199, 299],
 ['IAM A LIST', 'Y'],
 [199, 299]]

In [112]:
my_list3 = [1,2,3]
type(my_list3)

list

In [116]:
tuple(my_list3)

(1, 2, 3)

In [118]:
my_list3 = tuple(my_list3)
print(my_list3)
print(type(my_list3))

(1, 2, 3)
<class 'tuple'>

In [115]:
type(my_list3)

list

In [107]:
type(list(my_tuple7))

list

In [108]:
type(my_tuple7)

tuple

# 4. Dictionary in Python

- Python objects that are represented in the form of Key and value pairs
- Dictionary helps to create our own user defined indexes in the form of "Keys"
- Every Key will have a value
- Dictionary can have strings, numeric, float, lists, tuples, dictionaries as values
- Dictionary is mutable on the whole but the Key of a dictionary is always IMMUTABLE
- Syntax of dictionary is 
        mydict1 = {'keyname':value, 'keyname2':value2, 'keyname3':value3....}

## 4.1 Dictionary Examples

#### Rules

 - Key & Value Pairs
 - Keys should be of immutable data types
 - values can be of immutable of mutable data types
 - When you create a dictionary with duplicate keys, the dictionary automatically removes the duplicate

In [120]:
### create first dictionary
mydict0 =  {'k1':100,'k2':'str','k3':199.99,'k4':'0'}
print('\n')
print(mydict0)
print('\n')
print(type(mydict0))
print('\n')
print(len(mydict0))

{'k1': 100, 'k2': 'str', 'k3': 199.99, 'k4': '0'}


<class 'dict'>


4

In [125]:
### create dictionary with duplicate key
### create first dictionary
mydict00 =  {'k1':100,'k2':'str','k3':199.99,'k4':'0','k1':[120,'a']}

In [126]:
print(mydict00)

{'k1': [120, 'a'], 'k2': 'str', 'k3': 199.99, 'k4': '0'}

In [ ]:
### dictionaries with lists and tuples
mydict1= {'listkey1' : [1,2,3],  'tupkey2' : (1,2,3), 'numkey':1000, 'strkey':'i am a string' }
print('\n')
print(mydict1)
print('\n')
print(type(mydict1))
print('\n')
print(len(mydict1))

{'listkey1': [1, 2, 3], 'tupkey2': (1, 2, 3), 'numkey': 1000, 'strkey': 'i am a string'}


<class 'dict'>


4

In [ ]:
### dictionaries with lists, tuples, dictionary
mydict2= {'listkey1' : [1,2,3],  'tupkey2' : (1,2,3), 'dictkey':{'k1':1990,'k2':'a','k3':[1,2,3]}, 'strkey':'i am a string' }
print(mydict2)
print(type(mydict2))
print(len(mydict2))

{'listkey1': [1, 2, 3], 'tupkey2': (1, 2, 3), 'dictkey': {'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}, 'strkey': 'i am a string'}
<class 'dict'>
4

In [ ]:
mydict2[2]

KeyError: ignored

In [ ]:
### call the dictionary using keyvalue
mydict2['dictkey']

{'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}

In [141]:
### having the same key names with multiple elements will result in one key being retained
mydict2= {'key1' : [1,2,3],  'key2' : [10,2,3], 'key3':{'k1':1990,'k2':'a','k3':[1,2,3]}, 'key4':'i am a string' }
print(mydict2)

{'key1': [1, 2, 3], 'key2': [10, 2, 3], 'key3': {'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}, 'key4': 'i am a string'}

In [142]:
len(mydict2)

4

In [144]:
mydict2['key1']

[1, 2, 3]

In [147]:
mydict2['key1'][1]
mydict2['key1'][1:3]

[2, 3]

In [150]:
mydict2['key3']

{'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}

In [158]:
mydict2['key3']['k1'],mydict2['key3']['k2']

(1990, 'a')

In [157]:
mydict2['key3']['k2']

'a'

In [160]:
### no indexes in a dictionary
mydict2[0]

KeyError: 0

In [163]:
mydict2['key1']

[1, 2, 3]

In [165]:
mydict2['key1'] = (100,200)

In [166]:
mydict2

{'key1': (100, 200),
 'key2': [10, 2, 3],
 'key3': {'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]},
 'key4': 'i am a string'}

In [ ]:
### keys in dictionaries can be numbers
mydict3= {1000 : [1,2,3],  2000 : (1,2,3)}
print(mydict3[1000])
print(mydict3[1000][1])

[1, 2, 3]
2

In [ ]:
### special chars are not allowed while defining a dictionary key
mydict3= {$$$ : [1,2,3],  2000 : (1,2,3)}

SyntaxError: ignored

### DICTIONARIES CANNOT HAVE A MUTABLE OBJECT AS KEY

In [159]:
### IN THIS CASE THERE IS A LIST [1,1] as a key AND RESULTS IN ERROR
mydict7 = {[1, 1]: 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}   ### this is NOT accepted

TypeError: unhashable type: 'list'

In [ ]:
mydict770 = {{'k1': 1}: 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}   ### this is NOT accepted

In [130]:
### even a dictionary will not work as a key -- as dictionary is mutable
mydict8 = {{'k1': 1}: 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}   ### this is NOT accepted

TypeError: unhashable type: 'dict'

## 4.2 Indexing, Slicing in Dictionaries

In [ ]:
print(mydict2)

{'listkey1': [10, 2, 3], 'dictkey': {'k1': 1990, 'k2': 'a', 'k3': [1, 2, 3]}, 'strkey': 'i am a string'}

In [ ]:
### to grab the first element of the key "dictkey"
mydict2['dictkey']['k1']

1990

### SLICING OR SLICE NOTATION DOES NOT WORK

In [ ]:
mydict9 =  {0: 'a', 1: 'b', 2: 'c', 3: 'd'}
print(mydict9[-1])

KeyError: ignored

In [ ]:
print(mydict9[0:2])     #### NOT ACCEPTABLE

TypeError: ignored

## 4.3 Methods in dictionaries
- Python has various methods to work in dictionaries:
  - keys()
  - values()
  - items()
  - get()
  - update() and many more

In [167]:
mydict10 = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2'],'key4':{'sk1':1,'sk2':2}}

### keys() method
- The keys() method returns a view object
- The view object contains the keys of the dictionary, as a list
- The view object will reflect any changes done to the dictionary

In [169]:
### to get the keys in a dictionary
mydict10.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

### values() method
- The values() method returns a view object
- The view object contains the values of the dictionary, as a list
- The view object will reflect any changes done to the dictionary

In [175]:
mydict10

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'sk1': 1, 'sk2': 2},
 'key0': [22, 23],
 'key5': {'sk3': 10, 'sk4': 20}}

In [177]:
mydict10.items()

dict_items([('key1', 123), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2']), ('key4', {'sk1': 1, 'sk2': 2}), ('key0', [22, 23]), ('key5', {'sk3': 10, 'sk4': 20})])

In [179]:
mydict10.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key0', 'key5'])

In [180]:
mydict10.values()

dict_values([123, [12, 23, 33], ['item0', 'item1', 'item2'], {'sk1': 1, 'sk2': 2}, [22, 23], {'sk3': 10, 'sk4': 20}])

In [170]:
### to get the values in a dictionary
mydict10.values()

dict_values([123, [12, 23, 33], ['item0', 'item1', 'item2'], {'sk1': 1, 'sk2': 2}])

### items() method
- The items() method returns a view object
- The view object contains the key-value pairs of the dictionary, as tuples in a list
- The view object will reflect any changes done to the dictionary

In [171]:
### to get the items(key and value) in a dictionary
mydict10.items()

dict_items([('key1', 123), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2']), ('key4', {'sk1': 1, 'sk2': 2})])

### get() method
- The get() method returns the value of the item with the specified key

In [182]:
mydict10.get('key2')

[12, 23, 33]

In [183]:
mydict10['key2']

[12, 23, 33]

### update() method
- Dictionaries are mutable (only the keys are immutable)
- Changing a value of a given key
- The update() method inserts the specified items to the dictionary
- The specified items can be a dictionary, or an iterable object with key value pairs

In [184]:
mydict10

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'sk1': 1, 'sk2': 2},
 'key0': [22, 23],
 'key5': {'sk3': 10, 'sk4': 20}}

In [186]:
mydict10.update({'key0':[100, "abc"], 'key5': {'CHG': 10, 'sk4': 20} })
mydict10

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'sk1': 1, 'sk2': 2},
 'key0': [100, 'abc'],
 'key5': {'CHG': 10, 'sk4': 20}}

In [188]:
mydict10.update({'key10':[100, "abc"]})
mydict10

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'sk1': 1, 'sk2': 2},
 'key0': [100, 'abc'],
 'key5': {'CHG': 10, 'sk4': 20},
 'key10': [100, 'abc']}

In [190]:
mydict10.update({'key10':[100, "abc",299.99]})
mydict10

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'sk1': 1, 'sk2': 2},
 'key0': [100, 'abc'],
 'key5': {'CHG': 10, 'sk4': 20},
 'key10': [100, 'abc', 299.99]}

In [192]:
mydict10['key10'] = [100,200]

In [193]:
mydict10

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': {'sk1': 1, 'sk2': 2},
 'key0': [100, 'abc'],
 'key5': {'CHG': 10, 'sk4': 20},
 'key10': [100, 200]}

---

# 5. Sets in Python
- An unordered collection data type
- Iterable and mutable
- Do not allow duplicate elements
-  Since sets are unordered, we cannot access items using indexes like we do in lists
-  Pythonâ€™s Set class represents the mathematical notion of a set
- The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set

## 5.1 Sets Examples

In [ ]:
# We can create sets using set() in build function or putting elements in {}
new_set = {11, 22, 33}
new_set

{11, 22, 33}

In [ ]:
type(new_set)

set

In [ ]:
# check the length of set
len(new_set)

3

In [ ]:
new_set1 = set([13, 14, 16, 45])
new_set1

{13, 14, 16, 45}

In [ ]:
# set does not allow duplicate values
new_set2 = set([1, 3, 3, 5, 10])
new_set2   # returns only unique values

{1, 3, 5, 10}

In [ ]:
# set can have different data types
set1 = {"ABC", 4, True, 40, "Male"}
set1

{4, 40, 'ABC', 'Male', True}

## 5.2 Frozen Set
- Frozen sets are a native data type in Python that have the qualities of sets including class methods â€” but are immutable like tuples
- To use a frozen set, call the function frozenset() and pass an iterable as the argument
- If you pass a set to the function, it will return the same set, which is now immutable

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
 
# Lets convert tuple to frozenset
frozen_numbers = frozenset(numbers)
print(f"frozenset Object is : {frozen_numbers} ")

frozenset Object is : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [ ]:
professor = {"name": "Raj", "age": 42, "sex": "Male",
           "college": "NIT Aurangabad", "address": "Aurangabad"}
 
# Lets make keys of dictionary as frozenset
frozen_keys = frozenset(professor)
print(f"The frozen set is: {frozen_keys} ")

The frozen set is: frozenset({'college', 'name', 'sex', 'address', 'age'})

### Frozenset object is immuable, throws error if trying to change value

In [ ]:
languages = ["Python", "Java", "C++"]

frozen_languages = frozenset(languages)

# throws error for:
frozen_languages[1] = "C"

TypeError: ignored

## 5.3 Set methods in Python
- add()
- union()
- intersection()
- difference() and more

### add() method
- The add() method adds an element to the set
- If the element already exists, the add() method does not add the element

In [ ]:
new_set

{11, 22, 33}

In [ ]:
new_set.add(44)

In [ ]:
new_set

{11, 22, 33, 44}

In [ ]:
new_set.add(11)
new_set  # does not add if already present in set

{11, 22, 33, 44}

### union() method
- The union() method returns a set that contains all items from the original set, and all items from the specified set(s)
- We can specify as many sets you want, separated by commas
- It does not have to be a set, it can be any iterable object
- If an item is present in more than one set, the result will contain only one appearance of this item

In [ ]:
# Union of sets 
new_set4 = {"Python", "data"}   
ml = {"Linear regression", "KNN"} 
dl = {"Ensemble", "NLP"} 
language = {"Python", "R"} 
data_science = new_set4.union(dl)
print(data_science)

{'data', 'Python', 'NLP', 'Ensemble'}

### intersection() method
- The intersection() method returns a set that contains the similarity between two or more sets
- The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two set

In [ ]:
set1 = set() 
set2 = set() 
  
for i in range(5): 
    set1.add(i) 
for i in range(3,9): 
    set2.add(i) 

set3 = set1.intersection(set2) 
  
print("Intersection using intersection() function") 
print(set3) 
  
# Intersection using "&" operator 
set3 = set1 & set2 
  
print("\nIntersection using '&' operator") 
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

### difference() method
- The difference() method returns a set that contains the difference between two sets
- The returned set contains items that exist only in the first set, and not in both sets

In [ ]:
set1 = set() 
set2 = set() 
  
for i in range(5): 
    set1.add(i) 
for i in range(3,9): 
    set2.add(i) 
    

print("Set 1:", set1)
print("Set 2:", set2)
  
# Difference of two sets 
# using difference() function 
set3 = set1.difference(set2) 
  
print("Two sets using difference() function") 
print(set3) 
  
# Difference of two sets 
# using '-' operator 
set3 = set1 - set2 
  
print("Two sets using '-' operator") 
print(set3)

Set 1: {0, 1, 2, 3, 4}
Set 2: {3, 4, 5, 6, 7, 8}
Two sets using difference() function
{0, 1, 2}
Two sets using '-' operator
{0, 1, 2}

# 6. Comprehensions in Python
- A short and concise way to construct new sequences (such as lists, set, dictionary etc.) using sequences which have been already defined
- List comprehension
- List comprehension syntax: output_list = [output_expÂ forÂ varÂ inÂ input_listÂ if (varÂ satisfies this condition)]
- Dictionary comprehension
- Dictionary comprehension syntax: output_dict = { key: value for (key, value) inÂ IterableÂ if (key, value satisfy this condition)}
- Set comprehension

### List comprehension

In [ ]:
list_1 = [1, 2, 3, 4, 4, 5, 6, 7, 7]
list_output = []
  
for value in list_1:
    if value % 2 == 0:
        list_output.append(value)
  
print("result :", list_output)

result : [2, 4, 4, 6]

In [ ]:
list_1 = [1, 2, 3, 4, 4, 5, 6, 7, 7]
  
comprehension_list = [value for value in list_1 if value % 2 == 0]
  
print("result :", comprehension_list)

result : [2, 4, 4, 6]

### Dictionary comprehension

In [ ]:
list_1 = [1,2,3,4,5,6,7]
  
comprehension_dict = {value:value ** 3 for value in list_1 if value % 2 != 0}
  
print("result :", comprehension_dict)

result : {1: 1, 3: 27, 5: 125, 7: 343}

### Set comprehension

In [ ]:
list_1 = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]
  
comprehension_set = {value for value in list_1 if value % 2 == 0}
  
print("result :", comprehension_set)

result : {2, 4, 6}